.myHeader {
    font-size: large;
    color: coral;
    font-style: oblique;
    align-items: center;
}

.nameList {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

App input {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  font-size: medium;
  padding-left: 10px;
}

.Names {
  padding: 0.2rem;
  border: black;
}

.Names.m {
  border: 2px solid skyblue;
}
.Names.f {
  border: 2px solid lightcoral;
}
