.App {
  background-color: rgb(193, 236, 249);
}

.myHeader {
    font-size: xx-large;
    color: rgb(243, 146, 215);
    display: block;
    margin: 10px 100px 10px 100px;
}

.mainBody {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border: 5px rgb(243, 146, 215) solid;
  padding: 20px;
}

.searchBar {
  width: 500px;
  display: block;
  margin: 10px 100px 10px 100px;
}

.name {
  font-weight: 300;
}